.button-rounded {
    padding: 10px 20px;
    background-color: #45a049;
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 50px; /* Fully rounded */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button-rounded:hover {
    background-color: #45a049; /* Darker green on hover */
}

.button-rounded.red {
    background-color: red; /* Red background for toggled state */
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .column {
        width: 100%;  /* Make columns stack on smaller screens */
    }
}

/* Default styles for mobile */
.column {
    width: 100%;
}

/* Adjust for larger screens */
@media (min-width: 768px) {
    .column {
        width: 50%;
    }
}